<div class="reviewbox">
	<form>
	<textarea rows="5" cols= "60" type="text" name="message" id="message" maxlength="150"></textarea>
	<br>
  <input class="MyButton" type="button" value="submit review" onclick="window.location.href='/submit'" />

	Total char count : <span id="char_count">150</span>
	</form>
