
<div class="reviewpage">
	
<div class="reviewbox">
	<form>
	<textarea rows="5" cols= "60" type="text" name="message" id="review" maxlength="150"></textarea>
	<br>
  <input class="MyButton" type="button" value="submit review" onclick="window.location.href='/profile'" />


	<input type="submit" id="submit" value="submit">
			</br>
			 <span id="char_count">150</span> 
	
	</div>
		
		<div class="link">
			<h4>Add a link</h4>
			<textarea place rows="1" cols="50" type="text" name="url" id="url"></textarea>
			<input type="submit" id="submit" value="submit">
			
		</div>
</div>