
<div class="reviewpage">

<form method="post" action="/review">
<div class="reviewbox">
	<h4> Write a review</h4>
	<% if @event %>
		<input name="event_id" type="hidden" value="<%= @event.id %>" />
	<% else %>
		<select name="event_id">
			<option value="">Select Event</option>
		<% Event.all.each do |event| %>
			<option value="<%=event.id %>"><%= event.name %></option>
		<% end %>
	</select>
	<% end %>
	<textarea rows="5" cols= "60" type="text" name="message" id="review" maxlength="150"></textarea>
	<br>
  <input class="MyButton" type="submit" value="submit review" />



			 <span id="char_count">150</span>


	</div>

</div>
