
<div class="reviewpage">
<<<<<<< HEAD
=======

>>>>>>> 2d2472771fcb98deb34f209bb8e44ab3d53c0c7d
<form method="post" action="/review">
<div class="reviewbox">
	<h4> Write a review</h4>
	<% if @event %>
		<input name="event_id" type="hidden" value="<%= @event.id %>" />
	<% else %>
		<select name="event_id">
			<option value="">Select Event</option>
		<% Event.all.each do |event| %>
			<option value="<%=event.id %>"><%= event.name %></option>
		<% end %>
	</select>
	<% end %>
	<textarea rows="5" cols= "60" type="text" name="message" id="review" maxlength="150"></textarea>
	<br>
  <input class="MyButton" type="submit" value="submit review" />

<<<<<<< HEAD
=======

			 <span id="char_count">150</span>

>>>>>>> 2d2472771fcb98deb34f209bb8e44ab3d53c0c7d

			 <span id="char_count">150</span>

	</div>
<<<<<<< HEAD
=======

<<<<<<< HEAD
		<div class="link">
			<h4>Add a link</h4>
			<textarea place rows="1" cols="50" type="text" name="url" id="url"></textarea>

<input class="MyButton" type="button" value="submit review" onclick="window.location.href='/profile'" />


		</div>
>>>>>>> 2d2472771fcb98deb34f209bb8e44ab3d53c0c7d
=======
>>>>>>> 9bd8f816366647abf186a972f7a869fb3d326dae
</div>
