<div class="reviewbox">
	<form>
	<textarea rows="5" cols= "60" type="text" name="message" id="message" maxlength="150"></textarea>
	<br>
	<input type="submit" id="submit" value="submit">
	</br>
	Total char count : <span id="char_count">150</span> 
	</form>