<footer>
<div id="bottom">
	<span id="copyright">&copy;2017- BSharp</span>
	<a class="social" href="https://www.facebook.com/BSharp">
	<img class="social-img" src="/pictures/Facebook.png">
	</a>
	<a class="social" href="https://twitter.com/BSharp">
	<img class="social-img" src="/pictures/Twitter.jpg">
	</a>
	<a class="social" href="http://instagram.com/BSharp">
	<img class="social-img" src="/pictures/Instagram.jpg">
	</a>
</div>
</footer>