<!DOCTYPE html>

<head>


  <title>BSharp</title>
    <p>user login</p>
    <%= erb :login %>

<div class="jumbotron text-center">

  <h1 style="color:#1d699b;font-size:600%;">Bsh#rp</h1>
    <p style="color:#black;font-size:200%;">find and review music and concerts near you</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="concertShow">
        <form>

        <h3 style="color:black;font-size:300%;">Post a Concert</h3>

        <p style="color:#134b6d; font-size:150%;">post a concert you think is rad near you</p>
        <input class="MyButton" type="button" value="post" onclick="window.location.href='/review'" />
        </form>
      </div>
      <div class="col-sm-4">
        <h3 style="color:black;font-size:300%;">Create Profile</h3>

        <p style="color:#134b6d; font-size:150%;">make a profile to begin</p>
        <input class="MyButton" type="button" value="make profile" onclick="window.location.href='/review'" />
        </form>
      </div>
      <div class="review">
        <h3 style="color:black;font-size:300%;">Write a Review</h3>
        <p style="color:#134b6d;font-size:150%;">review shows you've been to</p>
        <input class="MyButton" type="button" value="review" onclick="window.location.href='/review'" />
        </form>
    </div>
  </div>

  <img src="http://3.bp.blogspot.com/-8hlNavxtVDQ/VD8c5Eqb7oI/AAAAAAAAHZI/CYhXK3VZSjk/s1600/concert-crowd.jpg" class="img-fluid" alt="Responsive image">




</body>
</html>
