<!DOCTYPE html>

<head>


  <title>BSharp</title>
  <% erb :newuser %>
    <%= erb :login %>
    <% if ! @current_user %>
  <input class="newuserbutton" type="button" value="Make Profile" onclick="window.location.href='/newuser'" />
<%end%>
<div class="jumbotron text-center">

  <h1 style="color:#1d699b;font-size:600%;">Bs&#x266f;arp</h1>
    <p style="color:#black;font-size:200%;">find and review music and concerts near you</p>
  </div>

  <div class="container">
    <div class="row">

      <div class="concertShow">
        <form>
  </form>
      </div>
      <div class="col-sm-4">
        <h3 style="color:black;font-size:300%;">My Page</h3>

        <p style="color:#134b6d; font-size:150%;">make a profile to begin</p>
        <input class="MyButton" type="button" value="My Page" onclick="window.location.href='/profile'" />
        </form>
      </div>
      <div class="review">
        <h3 style="color:black;font-size:300%;">Write a Review</h3>
        <p style="color:#134b6d;font-size:150%;">review shows you've been to</p>
        <input class="MyButton" type="button" value="review" onclick="window.location.href='/review'" />
        </form>
    </div>
  </div>

  <img src="http://3.bp.blogspot.com/-8hlNavxtVDQ/VD8c5Eqb7oI/AAAAAAAAHZI/CYhXK3VZSjk/s1600/concert-crowd.jpg" class="img-fluid" alt="Responsive image">




</body>
</html>
