
<% if @current_user %>
<img src="<%= user.photo.url %>" width="200px">
<% end %>

  <% @reviews.each do |review| %>
  <div class="review">
    <h3><%= review.event.name %></h3>
    <p><%= review.content %></p>
  </div>
  <%end%>
